<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <menu>
        <a href="/">Inicio</a>
        <a href="/incidencias">Incidencias</a>
        <a href="/admin" hidden>Admin</a>
    </menu>
    
    <article>
        <p>{{ message }}</p>
    </article>

</body>
</html>