<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incidencias</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <menu>
        <a href="/">Inicio</a>
        <a href="/incidencias">Incidencias</a>
        <a href="/admin" hidden>Admin</a>
    </menu>

    <h1>Historial de incidencias</h1>
    
    {% if lstIncidencias|length > 0 %}
        {% for incident in lstIncidencias %}
            <ul class="ticket">{{ incident }} </ul>
        {% endfor %}
    {% else %}
        <h3>Actualmente no hay incidencias</h3>
    {%endif%}

</body>
</html>