<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de incidencias</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <!--<link rel="stylesheet" href="/static/styles/styles.css">-->
</head>
<body>
    <menu>
        <a href="/">Inicio</a>
        <a href="/incidencias">Incidencias</a>
        <a href="/admin" hidden>Admin</a>
    </menu>

    <h1>Sistema de ticketing</h1>
    <form method="post">

        <div class="form-content">
            <label for="fecha">Fecha</label>
            <input type="date" name="fecha" id="fec" required/>
            
            <label for="titulo">Titulo</label>
            <input type="text" name="titulo" id="tit" required/>
            
            <label for="asunto">Asunto</label>
            <textarea name="asunto" id="asunt"  required maxlength="300" cols="35" rows="7" placeholder="Asunto a tratar" /></textarea>
            <br>
            <button type="submit" class="btn">Enviar</button>
        </div>        

    </form>
</body>
</html>