<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de incidencias</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <!--<link rel="stylesheet" href="/static/styles/styles.css">-->
</head>
<body>
    <h1>Sistema de ticketing</h1>
    <form method="post">

        <div class="form-content">
            <label for="fecha">Fecha</label>
            <input type="date" name="fecha" id="fec"/>
            
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nom"/>
            
            <label for="asunto">Asunto</label>
            <input type="text" size="30" name="asunto" id="asunt"/>
            <br>
            <button type="submit" class="btn">Enviar</button>
        </div>        

    </form>
</body>
</html>