* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

h1, h2, h3 {
    text-align: center;
    width: 100%;
    padding: 1em 0 1em 0;
}
h2, h3{
    color: #404040;
}

menu {
    height: fit-content;
    padding: 1em;
    border: 2.5px solid rgb(0, 0, 158);
    background-color: rgb(0, 102, 255);
}
menu > a {
    text-decoration: none;
    margin: 1em;
    color: #000;
}

.form-content {
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    align-items: center;
    
    padding: 1em;
    border: 1px solid black;
}

.form-content > * {
    display: block;
    width: 100%;
    margin: 5px 0 5px 0;
}

.form-content input {
    height: 2em;
    
}

.form-content #asunt {
    
    resize: vertical;
}

.form-content .btn {
    margin: 0 auto;
    display: block;
    border: 2px solid;
    width: 100%;
    height: 2em;
    background-color: rgb(0, 217, 255);
}

.ticket {
    width: fit-content;
    margin: 0 auto;
    padding: 1em;
    background-color: rgb(255, 255, 163);

}


